<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="layout.css">
     <!-- <style>
        h1{
            text-transform: uppercase;
            color: bisque;
            background-color: chocolate;
            font-size: 60px;
        }
        .parent{
            width:100px;
        }
        img{
            width: 500px;
            height: auto;
        }
        .son{
            width: 50px;
            height:left;
        }
        .daughter{
            width: 50px;
            height: right;
        }
     </style> -->
</head>
<body>
    <div class=".parent">
        <h1> layout</h1>
        <div class="son"></div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis iusto soluta delectus quo odio officiis neque vitae minima ea. Sequi error nulla nam! Reiciendis quas temporibus, doloribus ex quam itaque facilis error distinctio voluptate consequuntur molestiae, iste corporis qui fugiat animi earum delectus? Quam suscipit nesciunt iusto? Repellat mollitia numquam quisquam alias quas corporis rem sunt esse dignissimos impedit aut aspernatur iure ea soluta maiores, blanditiis, et aliquid qui minima ex labore atque! Suscipit vel, magni dolorum illo nostrum sunt cupiditate maiores, quasi tempore quod enim nisi nesciunt incidunt ipsa. Maxime perspiciatis earum similique facere tenetur animi ex quas omnis! </p>
    </div>
    <div class="daughter">
        <img src="ONEPIECE.webp" alt="monkey d luffy">
    </div>
</div>
</body>
</html>